html,body {
  height: 90%;
}

body {
  padding-top: 50px;
}

.page-content {
  padding-right: 15px;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.my-circle {
  height: 90px;
  width: 90px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

#top-menu svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  fill: black;
}


/* begin light mode styling */
body.light-mode #top-menu svg {
  fill: black;
}

body.light-mode button:hover #search-icon,
body.light-mode button:hover #telescope-icon {
  fill: white;
  transition: fill .15s ease-in-out;
}

body.light-mode {
  color: #343a40;
  background-color: #f8f9fa;
}
/* end light mode styling */


/* begin dark mode styling */
body.dark-mode #top-menu svg {
  fill: #f8f9fa;
}

body.dark-mode button:hover #search-icon,
body.dark-mode button:hover #light-icon {
  fill: #343a40;
  transition: fill .15s ease-in-out;
}

body.dark-mode #telescope-icon {
  display: hidden;
}

body.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}
/* end dark mode styling */


/* start mobile/general sidebar styling */
#sidebar { /*mobile version*/
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 50px;
}
#sidebar .sidebar-text {
  display: none;
}
#sidebar svg {
  fill: gray;
  width: 20px;
  height: 20px;
}
#sidebar a {
  width: 50px;
}

#sidebar .active {
  background-color: gray;
}

#sidebar .active .sidebar-text {
  color: white;
}

#sidebar .active svg {
  fill: white;
}
/* end mobile/general sidebar styling */

/* Desktop-specific styling */
@media (min-width: 860px) {
    .page-content {
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 250px;
    }
    #sidebar {
        padding-top: 20px;
        width: 200px;
    }
    #sidebar a {
      width: 210px;
    }
    #sidebar svg {
      fill: gray;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
    #sidebar .sidebar-text {
      display: block;
    }
    .btn-txt {
      display: inline-block;
    }
}

.page-title svg {
  width: 30px;
  height: 30px;
  fill: gray;
  vertical-align: middle;
}

#sidebar .sidebar-title svg {
  width: 30px;
  height: 30px;
  fill: gray;
  vertical-align: top;
}
